// Sidebar container
.sidebar {
  width: 250px; // Sidebar kengligi
  background-color: #2c3e50; // Sidebar fon rangi
  color: #ecf0f1; // Matn rangi
  display: flex;
  flex-direction: column;
  height: 88vh; // Butun balandlikni egallash
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); // Soyali effekt
  transition: width 0.3s ease; // Kenglik o'zgarishi uchun animatsiya

  &__logo {
    font-size: 1.5rem; // Logo o'lchami
    font-weight: bold;
    margin-bottom: 30px; // Logo va menyu o'rtasida masofa
  }

  &__menu {
    display: flex;
    flex-direction: column;
    list-style-type: none; // Ro'yxat belgilari
    padding: 0;

    &-item {
      padding: 10px 15px; // Menyu elementlari uchun ichki bo'shliq
      border-radius: 5px; // Burchaklarni yumshatish
      cursor: pointer; // Ko'rsatgich

      &:hover {
        background-color: #34495e; // Hover holatidagi fon rangi
      }

      &--active {
        background-color: #1abc9c; // Aktiv menyu elementi
      }

      &__icon {
        margin-right: 10px; // Ikonalar va matn o'rtasidagi masofa
      }

      &__text {
        font-size: 1rem; // Matn o'lchami
      }
    }
  }
}

// Media query responsiv dizayn
@media (max-width: 768px) {
  .sidebar {
    width: 200px; // Kichik ekranlar uchun sidebar kengligi
  }
}

.nav-link {
  color: white;
}
